* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*první část
*************************************
**************************************/

   .row {
    width: 1140px;
    margin: 0 auto;
} 
}

#logo img {
    display: block;
    width: 20%;
    position: relative;
    top: 10px; /*proc nefunguje kdyz dam 10%???????????*/
    
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

nav ul li a:link,
nav ul li a:visited {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
     border-bottom: 2px solid transparent; /*musime sem dat taky border a nakonci transparent kvuli tomu aby nez to dole da nakou barvu tak aby to bylo pruhledne*/

}

nav ul li a:hover,
nav ul li a:active {
    transition: border-bottom 1.5s ;
    border-bottom: 2px solid #4b253e;/*musime dat do toho vychoziho link,visited taky ten border-bottom ale musime tam dat transparent; */
    
}

/*budeme floatovat ten cely blok ul
kdyby jsme dali floutovat nav ul li tak se to poradi prehazi */
nav ul {
    float: right;
   margin-top: -195px;
   
/* tohle jsme sem pridali aby s nama jezdila ta navigace a dali jsme tomu
    margin left protoze to zajelo do toho obrazku*/
    position: fixed;
    margin-left: 35%;
    z-index: 100; /* tohle znamena aby byla ta navigace nad a aby se to neschovalo pod necim treba pod obrazky kdyz ta nagivace jezdi s nama po strance a
    VETSINOU TO ZACINA NA 100 A PAK NEKDE JINDE MUZEME POUZIT ABY TO BYLO NAD 100 TREBA 200 A POTOM ZASE 300,400 ATD*/
}

.clearfix {
    clear: both; 
}

/*druhá část
pozadí fotky header************************
******************************************
*******************************************/
header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/food.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed; /*pozadi obrazku jakoby jezdi s nama ale ne po cely strance jen v pozadi toho obrazku!!!!!!**/
}

/*TED JSEM PRIDAME NAV-BACKGROUND aby s nama jezdila navigace s POZADIM*/

.nav-background {
    position: fixed;
    width: 100%;
    height: 40px; 
    background-color: rgba(0,0,0,0.7);
    z-index: 50; /*sem davame z-index: 50, protoze je podrazeny navigaci a chceme aby
    ta navigace sedela jakoby na tom pozadi*/
    border-bottom: 2px solid #fff;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    word-spacing: 1.2px;
     
}


.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid #ba4192;
    border-radius: 24%;
    padding: 7px 9px;
    margin-top: 6px;
    letter-spacing: 1px;
}


/*hover se vzdy poji s active, a link s visited a to link je jakoby to vychazi a kdyz proste davame hover tak pridavame i to link s tim visited*/
.btn-first:link,
.btn-first:visited {
    background: #4b253e;
}

.btn-first:hover,
.btn-first:active {
    transition: background 1s; /* thle rika at se to pozadi zmeni za 1.5s*/
    background: #71385d;
}

/*treba tady by stacilo dat jen .btn-second > margin-left: 10px; ale mame tam hover podtim tak to prepiseme nahore misto jen .btn-second na to link a visited*/
.btn-second:link,
.btn-second:visited {
    margin-left: 10px;
}

.btn-second:hover,
.btn-second:active {
    transition: background 1s;
    background: #71385d;
}



/**************MAIN . SECTION*********/

/*sem dame prazdne misto jakoby pred nadpisy*/
.empty-space {
    height: 50px;
}
.heading-main h2 {
    text-align: center;
/*    margin-top: 50px;*/
}

.heading-main h2::after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 2px solid #4b253e;
    margin: 15px auto
    
}

.fotky-relaxu img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 4px 7px #000;
}

.relax-info img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 4px 7px #000;
}

.text-o-relaxu{
    margin-bottom: 20px;
}

.text-o-relaxu div {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    border-radius: 40%;
    padding: 12px;
    float: left;
}
.text-o-relaxu p {
    margin-left: 60px;
    
}


.clearfix{
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    visibility: hidden;
    height:0;
}


/********dalsi section -refernces**********/
.reference {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url(../images/nymph-3388708_640.jpg);
   background-attachment: fixed;
}

.reference h2 {
    color: #fff;
    padding-top: 10px;
}

.reference h2:after {
    border-bottom: 2px solid #fff;
      
    
}

.one-reference  {
    color: #fff;
    
}

.one-reference p {
    font-style: italic;
}


.photo-name img {
    width: 25%;
    border-radius: 50%;
    float: left;
    
}


.clearfix{
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    visibility: hidden;
    height:0;
}


.photo-name {
    margin-top: 10px;
}

.photo-name p {
    padding: 13px 105px;
    
}

/********dlasi section- photo-gallery*********/

.photo-segment li {
    list-style-type: none;
/*    background-color: #000; tohle se smazalo kvuli skrytymu :hover*/
    overflow: hidden; /*a tohle to vyrizli jak jsme to priblizili tak usekne aby to nebylo videt ty prebytecny okraje*/
     height: 396px; /*tdy taky musi byt vyska stejna jako u img protoze pak tam vznikne cernej prouzek*/
}
.photo-segment img {
    width: 100%;
    height: 396px;
/*    opacity: 0.5; tohle dava pruhlednost obrazky pak je tmavsi<< tohle se smazala kvuli skrytymu :hover*/
    transform: scale(1.10); /*timhle ten obrazek priblizime*/
    
}

/*
.photo-segment img:hover {
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(1);
    opacity: 1; 
        
}
*/

/*********contact-form************/

.contact-form {
    max-width: 700px;
    text-align: center;
}


.contact-form input{
    width: 50%;
    margin: 2px;
    padding: 0 7px;
    border: 2px solid #9ac2ed;
    border-radius: 5%;
    box-shadow: 2px 2px 2px #9ac2ed;
    
}

.contact-form textarea{
    width: 50%;
    margin: 2px;
    padding: 0 7px;
    border: 2px solid #9ac2ed;
    border-radius: 5%;
    font-family: arial;
    
}


input[type="submit"] {
    width: 20%;
}

/*
NEBO TO ZAPSAT TAKTO>>>
.contact-form .tlacitko {
    width: 20%;
}
*/


input[type="submit"]:hover {
    width: 20%;
    transition: background-color 0.3s;
    background-color: #9ac2ed;
}

/*****FOOTER******/

.footer-page {
    background: #97b0dac2;
    margin: 10px 0px;
}

.social {
    text-align: center;
   margin: 10px 0px;
}

.social p {
    display: inline;
    margin-right: 3px;
    
}

.social p img {
    width: 7%;
}

.social p a:link,
.social p a:visited {
    text-decoration: none;
    color: #fff;
}

.social p a:hover,
.social p a:active {
    color: black;
}



.footer-text {
    text-align: center;
}

